<h1>Aplicando Machine Learning ao desastre</h1>

<h3><a href='https://www.youtube.com/watch?v=Z5kqCBDcMnQ'>Conteúdo de auxilio</a>

In [48]:

#Bibliotecas de maninupação de dados
import pandas as pd #biblioteca para criação de DataFrames
import numpy as np #algebra

#bibliotecas de machine learning
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [49]:
#lendo o arquivo
df1 = pd.read_csv("data/train.csv")

In [50]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h3>Limpando colunar que não afetam a análise</h3>

In [51]:
#df1.drop(['Ticket','Cabin','PassengerId'], axis=1, inplace = True)

In [33]:
y = df1.pop('Survived')

KeyError: 'Survived'

In [34]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [35]:
variaveisNumericas = list(df1.dtypes[df1.dtypes!= 'object'].index)

In [36]:
df1[variaveisNumericas].head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

In [37]:
#tratando as celulas que não tem nenhum valor, iremos colocar a média das idades para preencher essas lacunas
df1['Age'].fillna(df1.Age.mean(), inplace = True)

In [38]:
model =  RandomForestClassifier(n_estimators=100)

In [39]:
model.fit(df1[variaveisNumericas],y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [40]:
print("Acurácia do Treino %s", accuracy_score(y, model.predict(df1[variaveisNumericas])))

Acurácia do Treino %s 0.957351290684624

In [41]:
dfTEste = pd.read_csv("data/test.csv")

In [42]:
dfTEste[variaveisNumericas].head()

   Pclass   Age  SibSp  Parch     Fare
0       3  34.5      0      0   7.8292
1       3  47.0      1      0   7.0000
2       2  62.0      0      0   9.6875
3       3  27.0      0      0   8.6625
4       3  22.0      1      1  12.2875

In [43]:
dfTEste['Age'].fillna(dfTEste.Age.mean(), inplace = True)

In [44]:
dfTEste = dfTEste[variaveisNumericas].fillna(dfTEste.mean()).copy()

In [45]:
y_pred = model.predict(dfTEste[variaveisNumericas])

<h3>Criando o data frame com o resultado.</h3>

In [46]:
submissao = pd.DataFrame({
                        'PassengerID': dfTEste['PassengerId'],
                        'Survived': y_pred
                         })

KeyError: 'PassengerId'

In [24]:
submissao.head()

   PassengerID  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [25]:
submissao.to_csv('data/titanic.csv', index=False)